<div class="about row">

    <div class="col-md-8">

        <h2>About Me</h2>

        <p>Budding Solutions Architect with a passion for all things data & a commitment to leveraging Open-source Software to drive value.</p>

        <h2>Contacts</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

        <h2>Skills</h2>

		{% if site.skill_patent_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Patents</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_patent_keywords %}
                {{ keyword }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
		
        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Programming Languages</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_db_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Databases</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_db_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_model_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Modeling Language/Tools</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_model_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_orm_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ORM Frameworks/Tools</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_orm_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_j2ee_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Enterprise Technologies</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_j2ee_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_data_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Data Analysis &amp; Big Data</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_data_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_ml_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Machine Learning</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_ml_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_tdd_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">TDD</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_tdd_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_ide_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">IDE</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_ide_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_prof_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Profiling/Optimization</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_prof_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_cicd_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">CI/Build/Version Control</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_cicd_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_collab_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Collaboration</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_collab_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_deploy_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">OS &amp; Deployment</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_deploy_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>
